
.component{

  &-followinsta{
    background-color: $var-custom-body-bg;
    padding: 100px 0;

    .sitetitle-xl{
      padding-bottom: 30px;
    }

    .instaimg{

      ul{
        @include flexbox-display-flex();
        @include flexbox-flex-wrap(wrap);

        li{
          @include flexbox-flex-basis(0);
          @include flexbox-flex-grow(1);
          min-width: 0;
          max-width: 100%;
        }
      }

      &-box{
        padding: 10px;
      }
    }
  }

  &-beforeaftergallery{
    background-color: $var-custom-body-bg;
    padding: 100px 0;

    .sitetitle-xl{
      padding-bottom: 30px;
    }

    .galleryimg{

      ul{
        @include flexbox-display-flex();
        @include flexbox-flex-wrap(wrap);

        li{
          @include flexbox-flex-basis(0);
          @include flexbox-flex-grow(1);
          min-width: 0;
          max-width: 100%;
        }
      }

      &-box{
        padding: 0 20px;
      }
    }
  }

  &-learnmore{
    position: relative;

    &::before{
      content: "";
      background-color: $global-clr-white;
      width: 100%;
      height: 40%;
      position: absolute;
      left: 0;
      top: 0;
    }

    .learnmore{
      position: relative;

      &-wrapper{
        @include flexbox-display-flex();
        @include flexbox-justify-content(space-between);
        //@include flexbox-align-items(center);
        position: relative;
        z-index: 1;
      }

      &-image{
        @include flexbox-flex(0 0 auto);
        width: 30%;
        max-width: 100%;
      }

      &-content{
        @include flexbox-display-flex();
        @include flexbox-flex-flow(column);
        @include flexbox-flex-basis(0);
        @include flexbox-flex-grow(1);
        min-width: 0;
        max-width: 100%;
        padding: 0 50px;
        text-align: center;

        &-logos{
          @include flexbox-display-flex();
          @include flexbox-align-items(flex-end);
          height: 40%;

          .logos{
            @include flexbox-display-flex();
            @include flexbox-flex-wrap(wrap);
            padding-bottom: 40px;

            li{
              @include flexbox-flex-basis(0);
              @include flexbox-flex-grow(1);
              min-width: 0;
              max-width: 100%;
            }

            &-logo{
              padding: 5px;
              @include svg-filter(100%, 0, 0, 100%, 100%, 100%);
            }
          }
        }

        &-text{
          @include flexbox-display-flex();
          @include flexbox-flex-flow(column);
          @include flexbox-flex(1);
          @include flexbox-justify-content(center);

          p{
            color: $global-clr-white;
            font-size: 2.5rem;
            line-height: 1.2;
            letter-spacing: 2px;
          }

          a{
            color: $global-clr-white;
            font-size: 5rem;
            font-weight: 500;
            letter-spacing: 5px;
            margin-top: 10px;
          }
        }
      }

    }

  }

  &-testimonial{
    background-color: $var-custom-body-bg;
    padding: 100px 0;

    .sitetitle-xl{
      padding-bottom: 30px;
    }

    .testimonialcomment{
      padding-bottom: 40px;
    }

    .testimonialcommentowl{
      max-width: 800px;
      margin: auto;
    }

    .owl{
      &-stage{
        &-outer{
          z-index: 1;
        }
      }

      &-item{
        img{
          width: auto;
          margin: auto;
        }
      }

      &-nav{
        @include flexbox-display-flex();
        @include flexbox-justify-content(space-between);
        margin: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;

        &.disabled{
          @include flexbox-display-flex();
        }

        button[class*="owl-"]{
          width: 15px;
          margin: 0;
          @include border-radius(0);
          position: relative;
          z-index: 1;

          &::before{
            content: "";
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOC44NDUiIGhlaWdodD0iMjguOTQ2IiB2aWV3Qm94PSIwIDAgMTguODQ1IDI4Ljk0NiI+DQogIDxwYXRoIGlkPSJQYXRoXzk0IiBkYXRhLW5hbWU9IlBhdGggOTQiIGQ9Ik0yOTMuMTM0LDkxLjQ5MmwtMTAtMTMuNTgxLDguOTc5LTEzLjU3NGExLDEsMCwwLDAsLjIzNC0uNmMwLS4yLS4xNTQtLjI5Mi0uNDY4LS4yOTJoLTcuMDQ2YTMuMzg4LDMuMzg4LDAsMCwwLS43ODUuMDc2LDEuMzcsMS4zNywwLDAsMC0uNjY2LjU0OGwtOC41NjIsMTMuMTU3YTEuMywxLjMsMCwwLDAtLjI3Ny42OTMsMS4xNjcsMS4xNjcsMCwwLDAsLjE0MS41NjhsOS41NjMsMTMuMDQ3YTIuMDI1LDIuMDI1LDAsMCwwLC41MDcuNjQyLDEuMTA4LDEuMTA4LDAsMCwwLC43MDYuMjE1aDcuNGMuNiwwLC42OS0uMy4yNzEtLjkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI5My4zOTEgOTIuMzg4KSByb3RhdGUoMTgwKSIgZmlsbD0iIzBlYWYzNCIvPg0KPC9zdmc+DQo=");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            width: 14px;
            height: 14px;
            position: absolute;
            left: 50%;
            top: 50%;
            @include translate(-50%, -50%);
          }

          &:hover{
            background-color: transparent;
          }

          span{
            text-indent: -9999px;
            opacity: 0;
          }
        }

        button[class*="-prev"]{
          left: -40px;
          &::before{
            @include transform-multiple(translate(-50%, -50%) rotate(180deg));
          }
        }
        button[class*="-next"]{
          right: -40px;
          &::before{
            @include transform-multiple(translate(-50%, -50%) rotate(0deg));
          }
        }
      }
    }
  }

  &-contactus{
    background-color: $var-custom-body-bg;
    padding: 100px 0;

    .sitetitle-xl{
      padding-bottom: 30px;
    }

    .contactform{
      background-color: $var-custom-body-bg;
      max-width: 1000px;
      margin: auto;
      padding: 50px;
      border: 1px solid $global-border-light-gray;

      .form-row{
        margin-bottom: 10px;
      }
    }
  }

  &-faq{
    background-color: $var-custom-body-bg;
    padding: 100px 0;

    .sitetitle-xl{
      padding-bottom: 30px;
    }

    .accordionv1{

      &-box{}

      &-item{
        background-color: $var-custom-body-bg;
        border: 1px solid $global-border-light-gray;
        position: relative;
        margin-top: 10px;

        &:first-child{
          margin-top: 0;
        }

        &.active{
          .heading {
            //color: $global-clr-white;
            //background-color: $global-clr-soft-gray;

            .title{
              //color: $global-clr-white;
            }
          }

          .icon{
            &::before {
              //border-color: $global-clr-white;
            }
          }
        }

        .heading {
          color: $global-clr-dark-blue;
          //background-color: $global-clr-light-gray;
          display: block;
          text-decoration: none;
          font-size: 19px;
          position: relative;
          padding: 10px 15px 10px 45px;
          @include transition(all, 0.2s, linear);
        }

        .title{
          margin: 0;
        }

        .icon {
          background-color: transparent;
          display: block;
          position: absolute;
          top: 50%;
          left: 15px;
          width: 20px;
          height: 20px;
          border-radius: 4px;
          @include translate(0,-50%);
          @include transition(all, 0.3s, ease-in-out);

          &::before{
            content: "";
            position:absolute;
            background-color: transparent;
            width: 9px;
            height: 9px;
            padding: 0;
            border-top: 2px solid $global-clr-dark-blue;
            border-right: 2px solid $global-clr-dark-blue;
            top: calc(50% - 6px);
            left: calc(50% - 4px);
            @include rotate(135);
          }

        }

        .content {
          padding: 10px 15px 10px 45px;
          display: none;

          .accimage{
            border: 5px solid $global-clr-soft-gray;
            margin-bottom: 15px;
          }

          &-subtitle{
            font-size: 19px;
            font-weight: 500;
            line-height: 1.2;
            margin: 0;
          }

          &-contlist{
            color: $global-clr-dark-blue;
            font-size: 19px;
            text-align: left;
            margin: auto;
            margin-bottom: 15px;

            li{
              position: relative;
              padding-left: 17px;

              &::before{
                content:"";
                position:absolute;
                width: 9px;
                height: 9px;
                top: 8px;
                left: 0;
                border-top:2px solid $global-clr-soft-blue;
                border-right:2px solid $global-clr-soft-blue;
                @include rotate(45);
              }
            }
          }

        }

        &.accordion-item-link{
          .icon {
            &::before{
              top: calc(50% - 5px);
              @include rotate(45);
            }
          }
        }
      }
    }

  }

  &-fullsectionmaps{

    .sitetitle-xl{
      padding: 50px 0;
    }

    iframe[src*="google"]{
      width: 100%;
      height: 600px;
      border: 0;
    }
  }
}