
.home{

  &-ourgoal{
    background-color: $site-section-bgclr-blue;
    padding: 60px 0;

    .sitetitle-xl{
      padding-bottom: 40px;
    }

    &-cont{
      @include flexbox-align-items(center);

      .sitecontent-desc{
        padding-right: 100px;
      }
    }

    &-img{}
  }

  &-procedures{
    background-color: $var-custom-body-bg;
    padding: 60px 0;

    .sitetitle-xl{
      padding-bottom: 40px;
    }

    .homeproceduresowl{

      .owl{

        &-stage{
          padding: 30px 0;

          &-outer{
            padding-bottom: 30px;
          }
        }

        &-item{
          @include transition-multiple(transform 0.3s ease-in-out);

          .proceduresimg{
            @include svg-filter(100%, 0, 0, 100%, 100%, 50%);
            @include transition-multiple(filter 0.3s ease-in-out);
          }

          &.active.center{
            @include box-shadow(0 0 0 5px $var-custom-body-bg);
            @include scale(1.1);
            z-index: 1;

            .proceduresimg{
              @include svg-filter(100%, 0, 0, 100%, 0%, 100%);
            }
          }
        }
      }

      &-cont{
        position: relative;

        .proceduresimg{
          background-color: $var-custom-body-bg;
          background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0ODAiIGhlaWdodD0iMzIwIiB2aWV3Qm94PSIwIDAgNDgwIDMyMCI+DQogIDxnIGlkPSJOb0ltYWdlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMzg1IC01MDQpIj4NCiAgICA8cmVjdCBpZD0iUmVjdGFuZ2xlXzIiIGRhdGEtbmFtZT0iUmVjdGFuZ2xlIDIiIHdpZHRoPSI0ODAiIGhlaWdodD0iMzIwIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzODUgNTA0KSIgZmlsbD0iI2YyZjVmOSIgb3BhY2l0eT0iMCIvPg0KICAgIDxnIGlkPSJpbmRpciIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTI1LjUgNTY0Ljk2NikiPg0KICAgICAgPHBhdGggaWQ9IlBhdGhfMSIgZGF0YS1uYW1lPSJQYXRoIDEiIGQ9Ik0xMTUuOCwxMTAuNmwzMCwzMC4zSDE1OGE0LjY1Myw0LjY1MywwLDAsMCw0LjYtNC42VjEyMy45TDEzMi43LDkzLjdaIiBmaWxsPSJub25lIi8+DQogICAgICA8ZyBpZD0iR3JvdXBfMiIgZGF0YS1uYW1lPSJHcm91cCAyIj4NCiAgICAgICAgPGcgaWQ9Ikdyb3VwXzEiIGRhdGEtbmFtZT0iR3JvdXAgMSI+DQogICAgICAgICAgPHBhdGggaWQ9IlBhdGhfMiIgZGF0YS1uYW1lPSJQYXRoIDIiIGQ9Ik0zNi42LDEzNS4zVjEwOUw3My4xLDcyLjEsOTcuMiw5Ni40bDIuOC0yLjhMNzQuNSw2Ny44YTEuOTMzLDEuOTMzLDAsMCwwLTIuOCwwTDM2LjYsMTAzLjNWNTguNWE0LjY1Myw0LjY1MywwLDAsMSw0LjYtNC42aDk4LjZsNC00SDQxLjFhOC42NjQsOC42NjQsMCwwLDAtOC42LDguNnY3Ni44YTguNjY0LDguNjY0LDAsMCwwLDguNiw4LjZoOC42bDQtNEg0MS4xQTQuNTY3LDQuNTY3LDAsMCwxLDM2LjYsMTM1LjNaIiBmaWxsPSIjYTdiNGM3Ii8+DQogICAgICAgICAgPHBhdGggaWQ9IlBhdGhfMyIgZGF0YS1uYW1lPSJQYXRoIDMiIGQ9Ik0xNTgsNDkuOWgtMi44bC00LDRIMTU4YTQuNjUzLDQuNjUzLDAsMCwxLDQuNiw0LjZ2NTguN0wxMzQuMSw4OC40YTEuOTc0LDEuOTc0LDAsMCwwLTEuNC0uNmgwYTEuOTc0LDEuOTc0LDAsMCwwLTEuNC42TDExMywxMDYuN2wtNy4zLTcuNC0yLjgsMi44LDM3LjMsMzcuN2gtNzVsLTQsNEgxNThhOC42NjQsOC42NjQsMCwwLDAsOC42LTguNlY1OC41QTguNiw4LjYsMCwwLDAsMTU4LDQ5LjlabTQuNiw4NS40YTQuNjUzLDQuNjUzLDAsMCwxLTQuNiw0LjZIMTQ1LjhsLTMwLTMwLjMsMTYuOC0xNi45LDI5LjksMzAuMnYxMi40WiIgZmlsbD0iI2E3YjRjNyIvPg0KICAgICAgICA8L2c+DQogICAgICAgIDxyZWN0IGlkPSJSZWN0YW5nbGVfMSIgZGF0YS1uYW1lPSJSZWN0YW5nbGUgMSIgd2lkdGg9IjE2Ni4yIiBoZWlnaHQ9IjQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQwLjExNCAxNTYuNTU0KSByb3RhdGUoLTQ1KSIgZmlsbD0iI2E3YjRjNyIvPg0KICAgICAgPC9nPg0KICAgIDwvZz4NCiAgPC9nPg0KPC9zdmc+DQo=");
          background-repeat: no-repeat;
          background-size: cover;
          background-position-y: 50%;
          background-position-x: 50%;
          min-height: 600px;
        }

        .proceduresbtn{
          color: $global-clr-white;
          background-color: transparentize($global-clr-white, 0.85);
          border: 2px solid $global-clr-white;
          position: absolute;
          bottom: 30px;
          left: 50%;
          @include translateX(-50%);

          &:hover{
            color: $global-clr-text-dark;
            background-color: $global-clr-white;

          }
        }
      }
    }
  }

  &-demonstration{
    background-color: $var-custom-body-bg;
    padding-top: 60px;

    .sitetitle-xl{
      padding-bottom: 40px;
    }

    .threedemonstration{
      background-color: $site-section-bgclr-black;
      padding: 50px 0;
      text-align: center;
    }
  }

  &-doctornote{
    background-color: $var-custom-body-bg;
    padding: 60px 0 0;

    .sitetitle-md{
      padding-bottom: 40px;
    }

    .quotearea{
      padding: 0 50px;

      &-quote{
        color: $global-clr-text-dark;
        padding: 10px 50px;
        font-size: 1.5rem;
        font-weight: $var-custom-font-weight-bold;
        letter-spacing: 0.05rem;
        text-align: center;
        position: relative;

        &::before,
        &::after{
          content: "";
          background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iQ2FwYV8xIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA0MDkuMjk0IDQwOS4yOTQiIGhlaWdodD0iNTEyIiB2aWV3Qm94PSIwIDAgNDA5LjI5NCA0MDkuMjk0IiB3aWR0aD0iNTEyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Im0wIDIwNC42NDd2MTc1LjQxMmgxNzUuNDEydi0xNzUuNDEyaC0xMTYuOTQxYzAtNjQuNDggNTIuNDYxLTExNi45NDEgMTE2Ljk0MS0xMTYuOTQxdi01OC40NzFjLTk2LjcyOCAwLTE3NS40MTIgNzguNjg0LTE3NS40MTIgMTc1LjQxMnoiLz48cGF0aCBkPSJtNDA5LjI5NCA4Ny43MDZ2LTU4LjQ3MWMtOTYuNzI4IDAtMTc1LjQxMiA3OC42ODQtMTc1LjQxMiAxNzUuNDEydjE3NS40MTJoMTc1LjQxMnYtMTc1LjQxMmgtMTE2Ljk0MWMwLTY0LjQ4IDUyLjQ2MS0xMTYuOTQxIDExNi45NDEtMTE2Ljk0MXoiLz48L3N2Zz4=");
          background-repeat: no-repeat;
          background-size: contain;
          width: 30px;
          height: 30px;
          position: absolute;
          opacity: 0.5;
        }

        &::before{
          left: 0;
          top: 0;
        }

        &::after{
          right: 0;
          bottom: 0;
          @include rotate(180);
        }
      }

      &-title{
        padding: 30px 50px 0;

        h5,h6{
          color: $global-clr-text-dark;
          font-size: 1.5rem;
          letter-spacing: 1px;
          text-align: right;
          margin: 0;
        }
      }

      &-logos{
        padding-top: 30px;

        .quotelogos{
          @include flexbox-display-flex();
          @include flexbox-flex-wrap(wrap);

          li{
            @include flexbox-flex-basis(0);
            @include flexbox-flex-grow(1);
            min-width: 0;
            max-width: 100%;
          }

          &-logo{
            padding: 15px 40px;
            @include svg-filter(100%, 0, 0, 100%, 100%, 100%);
          }
        }

        .sitecontent-desc{
          width: 470px;
          text-align: center;
          padding-top: 30px;
          margin: 0 auto;

          p{
            font-size: 1.5rem;
            font-weight: $var-custom-font-weight-bold;
          }

          strong{
            font-family: $global-font-family-semplicita-medi;
          }

          .btn{
            margin-top: 15px;
          }
        }
      }
    }
  }

  &-outoftown{
    background-color: $site-section-bgclr-black;
    background-image: url(#{$path-img-url}/section/home_outoftown.jpg);
    padding: 100px 0;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    position: relative;

    &::before{
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      @include background-linear(transparent, $global-clr-white, 0);
    }

    .container{
      position: relative;
    }

    .sitetitle-xl{
      padding-bottom: 20px;

      .bigtext{
        font-size: 4.6rem;
      }
    }

    &-cont{
      padding-left: 40%;

      .sitecontent-desc{
        background-color: transparentize($var-custom-body-bg, 0.25);
        text-align: right;
        padding: 50px;
        @include backdrop-filter-multiple(blur(5px));

        p{
          font-weight: $var-custom-font-weight-bold;
        }
      }

      &-btn{
        text-align: right;
        padding-top: 30px;
      }
    }
  }

  &-testimonial{
    padding-top: 0;
  }

  &-contactus{
    padding-top: 0;
  }
}